/semantics/.test
/semantics/.k
/semantics/java-kompiled

/semantics/test-results.xml
/semantics/workspace.xml
/semantics/java.pdf

/class-lib/*.kast
/test-runner/out
/test-runner/workingDir
/test-runner/test-results.xml
/test-runner/.test

/semantics/java.tex
/semantics/k.sty

/.idea/workspace.xml
