/src/.test
/src/.k
/src/java-kompiled
/src/full/.k
/src/full/java-full-kompiled
/src/prep/.k
/src/prep/java-prep-kompiled
/src/exec/.k
/src/exec/java-exec-kompiled

/src/test-results.xml
/src/workspace.xml

/src/*.pdf
/src/*.synctex
/src/*.tex
/src/k.sty
/src/*.pkast

/class-lib/*.kast
/test-runner/out
/test-runner/workingDir
/test-runner/test-results.xml
/test-runner/.test

/.idea/workspace.xml
/.idea/dictionaries/*.*
/.idea/inspectionProfiles/*
/scrapebook.txt
/commands.txt
