/src/.test
/src/.k
/src/java-kompiled
/src/full/.k
/src/full/java-full-kompiled
/src/prep/.k
/src/prep/java-prep-kompiled
/src/exec/.k
/src/exec/java-exec-kompiled

/src/test-results.xml
/src/workspace.xml
/src/java.pdf

/class-lib/*.kast
/test-runner/out
/test-runner/workingDir
/test-runner/test-results.xml
/test-runner/.test

/src/java.tex
/src/k.sty

/.idea/workspace.xml
/.idea/dictionaries/*.*
/scrapebook.txt
/src/java-exec.pdf
/src/java-exec.synctex
/src/java-exec.tex
/commands.txt
